---
import Wrapper from '../../layouts/Wrapper';
import { Caption, Heading } from '../ui/typography';
import { ItemInViewAnimation } from '../ui/InViewAnimation';
---

<section
  id="contact"
  class="relative z-10 w-full bg-neutral-900"
>
  <Wrapper className='py-28'>
    <ItemInViewAnimation className="flex flex-col items-center text-center" delay={0.1} client:visible >
        <Caption>Contact</Caption>
        <Heading className='text-neutral-50'>Let's get in touch!</Heading>
    </ItemInViewAnimation>
  </Wrapper>
</section>