---
import Wrapper from '../../layouts/Wrapper';
import { Caption, Heading } from '../ui/typography';
import { ItemInViewAnimation } from '../ui/InViewAnimation'
---

<section
  id="projects"
  class="relative z-10 w-full bg-slate-900"
>
  <Wrapper className='border-b-[0.5px] border-neutral-600 py-28'>
    <ItemInViewAnimation className="flex flex-col items-center text-center" delay={0.1} client:visible >
        <Caption>PROJECTS</Caption>
        <Heading className='text-neutral-50'>UX · Dev · Design</Heading>
    </ItemInViewAnimation>
  </Wrapper>
</section>