$cardWidth: 400px;

.card-wrapper {
  display: flex;

  img {
    width: 50%;
    height: 75%;
  }
  .content {
    h3, p {
      text-align: left;
      margin: 5px 0 0 5px;
    }
    h3 {
      font-size: 1.5rem;
      color: #666;
    }
    p {
      font-size: 1.2rem;
      color: #aaa;
    }
  }
}