$cardWidth: 400px;

.card-wrapper {
  display: flex;
  margin-bottom: 30px;
  img {
    width: 40vw;
    margin-right: 1vw;
  }
  .content {
    margin-top: 1vw;
    & > * {
      // margin-bottom: 30px;
    }
    h3, p {
      text-align: left;
      margin: 0;
      margin-bottom: 5px;
    }
    h3 {
      font-size: 1.5rem;
    }
    p {
      font-size: 1.2rem;
    }
  }
}