---
import BasicLayout from '../layouts/BasicLayout.astro';
---

<BasicLayout title="Not Found" description='This page does not exist!'>
  <main>
    <h1>404 Page Not Found</h1>
  </main>
</BasicLayout>
