---
import { Heading } from '../components/typography';
import BasicLayout from '../layouts/BasicLayout.astro';
---

<BasicLayout title="Not Found" description='This page does not exist!'>
  <main class="w-full item-center justify-center text-center">
    <Heading className='text-neutral-50 my-20'>404 Page Not Found</Heading>
  </main>
</BasicLayout>
