---
import ButtonLink from '../ui/ButtonLink'
---

<header class="fixed z-[-1] top-0 left-0 w-screen h-screen bg-purple-900 flex flex-col items-center justify-center">
  <h1>ES MUSS SEIN.</h1>
  <ButtonLink
    href="/#hero"
    background="primary"
    size="large"
    className="mt-12"
  >
    Dig into my universe
  </ButtonLink>

</header>