---

---

<header class="h-32 w-full py-10 px-20 mb-14 items-center grid gap-4 leading-6 antialiased grid-cols-[2fr 1fr 2fr]">
  <div>color: rgb(195, 202, 219);</div>
  <nav>grid-template-columns: 530.25px 259.484375px 530.265625px;</nav>
</header>

