---
// import Button from '@components/ui/Button.astro';
// import ToggleTheme from '@components/ui/ToggleTheme.astro';
import { Astronav, MenuIcon, MenuItems } from 'astro-navbar';
import NavBarReact from './NavBar'
import { menuItems } from './NavBar';

---

<NavBarReact client:load isInitialBackgroundTransparent={true}>
	<Astronav>
		<div class="flex w-full items-center justify-between lg:w-auto">
			<!-- <Button size={'sm'} name="Download CV">Download CV</Button> -->
			<div class="block lg:hidden">
				<MenuIcon class="h-4 w-4 text-black dark:text-white" />
			</div>
		</div>
		<MenuItems class="mt-2 hidden w-full lg:mt-0 lg:flex lg:w-auto">
			<ul class="flex flex-col lg:flex-row lg:gap-3">
				{
					menuItems.map((item) => (
						<>
							<li>
								<a
									aria-label="navigation link"
									href={item.path}
									class="flex py-2 hover:text-orange lg:px-3 hover:text-orange"
								>
									{item.title}
								</a>
							</li>
						</>
					))
				}
				<!-- <li><ToggleTheme /></li> -->
			</ul>
		</MenuItems>
	</Astronav>
</NavBarReact>