---
// import Button from '@components/ui/Button.astro';
// import ToggleTheme from '@components/ui/ToggleTheme.astro';
import { Astronav, MenuIcon, MenuItems } from 'astro-navbar';

const menuitems = [
	{
		title: 'About',
		path: '#about',
	},
	{
		title: 'Projects',
		path: '#projects',
	},
	{
		title: 'Contact',
		path: '#contact',
	},
];
// let mybutton = document.getElementById('btn-back-to-top') as HTMLButtonElement;

const background = "border-neutral-600 border-b-[0.5px] bg-neutral-900/90 supports-[backdrop-filter]:bg-neutral-900/50 backdrop-blur-md"
let scrolled= "0"
---
<nav data-scrolled={scrolled} id="navbar" class={`${scrolled==="1" ? background : ""} transition-colors duration-500 fixed top-0 left-0 w-full z-[9999] px-10 py-5 flex flex-col items-center justify-between lg:flex-row`}>
	<Astronav>
		<div class="flex w-full items-center justify-between lg:w-auto">
			<!-- <Button size={'sm'} name="Download CV">Download CV</Button> -->
			<div class="block lg:hidden">
				<MenuIcon class="h-4 w-4 text-black dark:text-white" />
			</div>
		</div>
		<MenuItems class="mt-2 hidden w-full lg:mt-0 lg:flex lg:w-auto">
			<ul class="flex flex-col lg:flex-row lg:gap-3">
				{
					menuitems.map((item) => (
						<>
							<li>
								<a
									aria-label="navigation link"
									href={item.path}
									class="flex py-2 hover:text-orange lg:px-3 hover:text-orange"
								>
									{item.title}
								</a>
							</li>
						</>
					))
				}
				<!-- <li><ToggleTheme /></li> -->
			</ul>
		</MenuItems>
	</Astronav>
</nav>

<script>
  let navbar= document.getElementById('navbar') as HTMLElement

  function updateHeight() {

    console.log(navbar.dataset.scrolled)
    const height = window.innerHeight;
    const pos = window.scrollY
    // console.log('当前屏幕位置是：' + pos + 'px')
    if (pos >= height) {
      navbar.dataset.scrolled = "1"
    } else {
      navbar.dataset.scrolled = "0"
    }
  }
  window.addEventListener('scroll', updateHeight);
  window.onload = function() {
      updateHeight();
  };
</script>