---
import Wrapper from "../layouts/Wrapper";
import { ListInViewAnimation } from "./InViewAnimation";

export interface NavItem {
  id: string
  title: string
}

const { items } = Astro.props;
---

<Wrapper className="sticky pt-40">
  <ListInViewAnimation
    className="sticky top-40 flex flex-col"
    client:visible
  >
    {
      items.map((item: NavItem) => {
        return (
          <a
            href={"#" + item.id}
            class="block text-sm text-blue-500 uppercase leading-relaxed"
          >
            — {item.title}
          </a>
        )
      })
    }
  </ListInViewAnimation>
</Wrapper>