.misc {
  max-width: 80vw;
  margin: 0 auto;
  * {
    text-align: left;
  }
  p {
    margin: 30px 0;
  }
  h3 {
    margin: 60px 0 40px;
  }
  .projects {
    &> div {
      background-color: red;
    }
  }
  .block:not(:first-child) {
    margin-top: 20px;
  }

  .multiCol {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .listIndent {
    padding-left: 2em;
  }
}
