@font-face {
  font-family: Aleo;
  src: url('/public/fonts/Aleo-BoldItalic.ttf');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: Aleo;
  src: url('/public/fonts/Aleo-Bold.ttf');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Aleo;
  src: url('/public/fonts/Aleo-Italic.ttf');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: Aleo;
  src: url('/public/fonts/Aleo-Light.ttf');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: Aleo;
  src: url('/public/fonts/Aleo-LightItalic.ttf');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: Aleo;
  src: url('/public/fonts/Aleo-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}