@tailwind base;
@tailwind components;
@tailwind utilities;

@import url(./fonts.scss);
@import url(./text.scss);

:root,
.root,
#root,
#docs-root {
  --primary-color: #ffffff;
  --secondary-color: #213547;
  font-family: OpenSans, serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
  &:hover {
    color: #747bff;
  }
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}