h2.h2 {
  font-family: Merriweather, sans-serif;
  font-size: 2.4rem;
  line-height: 1.2;
  font-weight: bold;
  font-style: italic;
  letter-spacing: 0.05rem;
}

h3.h3 {
  font-family: Merriweather, sans-serif;
  font-size: 1.8rem;
  line-height: 1.0;
  letter-spacing: 0.05rem;
}

h4.h4 {
  font-family: Merriweather, sans-serif;
  font-size: 1.25rem;
  letter-spacing: 0.05rem;
}

h5.h5 {
  font-size: 1.0rem;
  font-weight: normal;
  font-style: italic;
}

p, span {
  font-size: 1.0rem;
  line-height: 1.0;
  font-weight: normal;
}

ul, dl, li, dt, dd, b, strong {
  font-size: 1.0rem;
}