h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

h2 {
  font-size: 2.8em;
  line-height: 1.2;
  font-weight: bold;
  font-style: italic;
}

h3 {
  font-size: 2.0em;
  line-height: 1.0;
}

h4 {
  font-size: 1.2em;
}

h5 {
  font-size: 1.0em;
  font-weight: normal;
  font-style: italic;
}

h6 {
  font-size: 1.0em;
  font-weight: normal;
}

p {
  font-size: 1.0em;
  line-height: 1.0;
  font-weight: normal;
}