---
import About from '../components/sections/About.astro'
import Projects from '../components/sections/Projects.astro';
import Footer from '../components/Footer';
---

<div id="hero" class="bg-neutral-50 min-h-min h-min absolute top-full w-full flex flex-col justify-center scroll-smooth">
  <About />
  <Projects />
  <Footer client:idle />
</div>