---
import "@fontsource/lato";
import LoadingScreen from '../components/LoadingScreen';
import NavBar from '../components/NavBar';
import Main from '../components/Main';
import Hero from './Hero.astro';
import { ViewTransitions } from 'astro:transitions';
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en" class="scroll-smooth [color-scheme:dark] text-neutral-50">
	<head>
		<!-- Google tag (gtag.js) -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=G-S1Z9R2KPMR"></script>
		<script>
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());
			gtag('config', 'G-S1Z9R2KPMR');
		</script>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description">
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<ViewTransitions/>
	</head>
	<body class="w-screen">
		<LoadingScreen client:load />
		<NavBar client:idle isInitialBackgroundTransparent={true} />
		<Main client:idle />
		<Hero />
		<slot />
	</body>
</html>
<style is:global>
	:root {
		--accent: 159, 172, 230;
		--accent-light: 215, 255, 254;
		--accent-dark: 29, 47, 111;
		--accent-gradient: linear-gradient(45deg, rgb(var(--accent)), rgb(var(--accent-light)) 30%, white 60%);
		color-scheme: dark;
	}
	html {
		font-family: Lato, system-ui, sans-serif;
		background: #13151A;
		background-size: 224px;
	}
	code {
		font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
			Bitstream Vera Sans Mono, Courier New, monospace;
	}
	.projectList .card {
		transition: opacity 0.6s cubic-bezier(0.22, 1, 0.36, 1);
	}
  .projectList:is(:hover, :focus-within) .card {
    opacity: 0.5;
  }
  .projectList:is(:hover, :focus-within) .card:hover {
    opacity: 1;
  }
</style>